*.o
*.obj
*.lo
*.slo
 
*.exe
*.out
*.app
.i86
*.x86_64
 
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib
 
*.dSYM/
*.su
*.idb
*.pdb
 
build/
bin/
Debug/
Release/
x64/
x86/
 
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
 
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
 
.vscode/
 
*.tmp
*.temp
*.log
*.swp
*.bak
 
.DS_Store
Thumbs.db
/HTML_CSS
/Python
/Visual Studio Code.lnk
/Sublime Text.lnk
/Visual Studio 2022.lnk
